@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

p {
  margin-bottom: .5rem;
}

.montserrat {
  font-family: 'Montserrat', serif;
}

.italianno {
  font-family: 'Italianno', cursive;
}

.tangerine {
  font-family: 'Tangerine', cursive;
}

.dm-serif-display {
  font-family: 'DM Serif Display', serif;
}